<div id="search" class="row">
	<div id="search-container" class="large-5 columns">
		<form id="search-address" class="row collapse">
			<div id="search-label" class="pull-left">
				<img src="assets/images/drapeau.png" alt="Drapeau" />
				<label for="search-input" class="right inline">Rechercher</label>
			</div>
			<div class="small-6 columns">
				<div id="zero-results" class="icon-exclamation-sign"></div>
				<input type="text" placeholder="exemple : Promenade de la Pantiero, Cannes" name="search" id="search-input"/>
				<ul id="choice-list" class="f-dropdown medium">
				</ul>
			</div>
			<div class="pull-left">
				<button id="search-button" type="submit" class="button postfix">OK</button>
			</div>
		</form>
	</div>
	<div class="large-7 columns compare-with-container">
		<form id="compare-with">
			Comparer <span class="label-white">2009</span> avec  
			<span class="label-black">
				<input type="checkbox" id="compare-ortho1814" name="compare-layer" value="1814" />
				<label for="compare-ortho1850">1814</label>
			</span>
			<span class="label-black">
				<input type="checkbox" id="compare-ortho1884" name="compare-layer" value="1884" />
				<label for="compare-ortho1949">1884</label>
			</span>
			<span class="label-black">
				<input type="checkbox" id="compare-ortho1948" name="compare-layer" value="1948" />
				<label for="compare-ortho2009">1948</label>
			</span>
			<span class="label-black">
				<input type="checkbox" id="compare-ortho1999" name="compare-layer" value="1999" />
				<label for="compare-ortho1999">1999</label>
			</span>
			<span class="label-black">
				<input type="checkbox" id="compare-ortho2004" name="compare-layer" value="2004" />
				<label for="compare-ortho2004">2004</label>
			</span>
		</form>
	</div>
</div>